body {
    font-family: 'Bubbler One', sans-serif;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}

.menu {
    list-style-type: none;  /* To remote the circles of the list */
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #333;
    /* border-bottom: 2px solid #a9acb2; */
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* --------  Header Content with image */
.header-content {
    display: block;
    background-color: #e0e0eb;
    height: auto;
    padding: 20px 0px 70px 20px;
    color: white;
    font-weight: bold;
}

.background-image {
     /* To put a background image*/
    background-image: url("../images/header-image.jpg");
    background-position: center top;
    background-size: 100% auto;
}

.myName {
    padding-top: 70px;
    text-align: center;
    font-size: 70px;
}

.myName span {
    display:block;
    font-size: 40px;
    margin-bottom: 40px;
}

.button {
    text-decoration: none;
    border: none;
    color: white;
    padding: 15px 32px;
    display: block;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

    /* Para centrar el elemento */
    margin-left: auto;
    margin-right: auto;
    /* Para centrar el elemento */
}

.b-green {
    background-color: #4CAF50; 
}

.f-icon {
    padding-left: 5px;
    font-size: 25px !important;
}

/* --------------- Responsive Section ----------*/

.section-container {
    padding: 5px;
    width: 960px;
    margin: 20px auto; /* Note: (auto) lo usamos para centrar elemento-caja */
}

.left-content {
    width: 586px;
    float: left;
    padding: 5px 15px;
}

.right-content {
    width: 300px;
    float: left;
    padding: 5px 15px;
    margin: 0px 5px 5px 5px;
    text-align: center;
    padding-top: 6%;
    font-size: 170px;
    color: #4CAF50;
}

#f-section {
    clear: both;
    padding: 0 15px;
}

#f-section a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.portafolio-link  {
    text-decoration: none;
}

.portafolio-link:visited {
    color: black;
}

/* for 980px or less */
@media screen and (max-width: 980px) {
    
    .section-container {
        width: 94%;
    }
    .left-content {
        width: 41%;
        padding: 1% 4%;
    }
    .right-content {
        display: none;
    }

    .quote {
        padding-top: 20px !important;
        font-size: 15px !important;
    }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

    .left-content {
        width: auto;
        float: none;
    }
    
    .right-content {
        display: block;
        width: auto;
        float: none;
        margin-left: 0px;
        font-size: 50px;
        text-align: left;
    }

    .quote {
        padding-top: 20px !important;
        font-size: 13px !important;
    }

    .background-image {
        background-image: url("none.jpg");
        background-color: #e0e0eb;
        color: #525459;
    }

    .myName {
        padding-top: 50px;
        text-align: center;
        font-size: 45px;
    }

    .myName span {
        display:block;
        font-size: 25px;
        margin-bottom: 40px;
    }
}

/* ---- Code to see the container */
/*
.left-content {
    background: #f8f8f8;
}

.h-content, .left-content, .right-content {
    margin-bottom: 5px;
}

.section-container, .h-content, .left-content, .right-content, #f-section {
    border: solid 1px #ccc;
}
*/

footer {
    padding-top: 30px;
    height: 200px;
}

footer .quote {
    height: 30px;
    background-color: #333;
    padding: 40px 20px 40px 20px;
    color: white;
    text-align: center;
    font-size: 25px;
}

footer .quote em {
    display: block;
    font-size: 15px;
}

footer .socials {
    text-decoration: none;
    padding-top: 30px;
    height: auto;
    text-align: center;
}

footer .social:visited {
    color: black;
}

footer .powered {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0px 40px 0px;
}

footer .socials a {
    text-decoration: none;
    font-size: 35px;
    color: black;
}