body {
    font-family: 'Bubbler One', sans-serif;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-bottom: 2px solid #a9acb2;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.header-content {
    display: block;
    background-color: #e0e0eb;
    height: auto;
    padding: 20px 0px 70px 20px;
}

.myName {
    padding-top: 70px;
    text-align: center;
    font-size: 40px;
}

.myName span {
    display:block;
    font-size: 25px;
    margin-bottom: 40px;
}

.button {
    text-decoration: none;
    border: none;
    color: white;
    padding: 15px 32px;
    display: block;
    font-size: 16px;
    border-radius: 8px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

    /* Para centrar el elemento */
    margin-left: auto;
    margin-right: auto;
    /* Para centrar el elemento */
}

.b-green {
    background-color: #4CAF50; 
}

.f-icon {
    padding-left: 5px;
    font-size: 25px !important;
}

.content {
    display: block;
    background-color: #f4f4f2;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    /* padding: 40px 200px 0px 200px; */
}

.left-content {
    /* background-color: #b5b5ab;*/
    float: left;
    width: 60%;
}

#wrapper-left-content {
    padding-left: 250px; 
    padding-right: 100px;
}

.right-content {
    vertical-align: middle;
    float: right;
    text-align: left;
    /*background-color: #c6c6b6;*/
    width: 25%;
    font-size: 150px !important;
    padding-right: 200px;
    padding-top: 50px;
}
